@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.nav__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 90px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}
#logo {
  width: 80px;
}

/* Nav burger */
.icono-burger {
  display: none;
}
#check {
  display: none;
}
.nav__container__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav__container__list__link {
  font-size: 1.3rem;
  padding: 0 10px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #000;
}
/* Hero */
.hero_contenedor {
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contenedor_texto{
  height: 300px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.contenedor_texto h1{
  font-size: 35px;
}
.contenedor_texto p{
  font-size: 20px;
}
.btn-1{
  background-color: #000;
  padding: 15px 30px;
  color: #FFF;
  font-size: 15px;
  border-radius: 30px;
}
.btn-2{
  border: 2px solid #000;
  padding: 15px 30px;
  color: #000;
  font-size: 15px;
  border-radius: 30px;
}
.contenedor_imagen{
  max-width: 600px;
}
.contenedor_imagen img{
  width: 100%;
  height: 100%;
  border-radius: 15px;

}
.hero_descripcion{
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}
/* Cards */
.contenedor{
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  background-color: antiquewhite;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.cards{
  width: 400px;
  height: 400px;
  background-color: rgb(104, 103, 103); 
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.cards img{
  width: 60px ;
  height: 60px;
}
/* Media Query */
@media (max-width: 700px) {
  nav {
    max-width: 310px;
    height: auto;
  }
  .icono-burger {
    display: block;
    width: 40px;
    float: left;
    cursor: pointer;
  }
  .nav__container__list {
    display: none;
    margin: 0 auto;
    width: 90%;
    height: 60px;
    transition: all 0.8s;
  }
  nav ul {
    position: absolute;
    top: -55px;
  }
  #check:checked ~ .nav__container__list {
    display: flex;
    margin-top: 100px;
  }

}
