@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.nav__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 90px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}
#logo {
  width: 80px;
}

/* Nav burger */
.icono-burger {
  display: none;
}
#check {
  display: none;
}
.nav__container__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav__container__list__link {
  font-size: 1.3rem;
  padding: 0 10px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #000;
}
.header__container {
  width: 90%;
  max-width: 1024px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 10px;
}
.header__container__text {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}
.header__container__img {
  width: 400px;
  height: 100%;
  margin: 0 auto;
}
#title {
  font-size: 35px;
  text-transform: capitalize;
  margin: 20px;
}
#paragraph {
  font-weight: 500;
  margin: 20px;
}
.button__container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btnSkill {
  background-color: black;
  padding: 5px 25px;
  border-radius: 20px;
  color: #fff;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin: 0 10px;
}
#btnLeerMas {
  padding: 5px 25px;
  border-radius: 20px;
  color: #000;
  border: 3px solid #000;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.header__container__img img {
  width: 90%;
  height: 100%;
  border-radius: 10px;
}

.description__contain {
  margin: 20px 20px;
  width: 1024px;
  font-size: 1.3rem;
  text-align: center;
}

/* Media Query */
@media (max-width: 700px) {
  nav {
    max-width: 310px;
    height: auto;
  }
  .icono-burger {
    display: block;
    width: 40px;
    float: left;
    cursor: pointer;
  }
  .nav__container__list {
    display: none;
    margin: 0 auto;
    width: 90%;
    height: 60px;
    transition: all 0.8s;
  }
  nav ul {
    position: absolute;
    top: -55px;
  }
  #check:checked ~ .nav__container__list {
    display: flex;
    margin-top: 100px;
  }
  header {
    max-width: 310px;
    height: auto;
  }
  #title {
    font-size: 25px;
    text-transform: capitalize;
    margin: 5px;
  }
  #paragraph {
    font-weight: 500;
    margin: 10px;
  }
  .header__container__img img {
    width: 300px;
    height: 100%;
    margin: 0 auto;
  }
}
