@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.nav-contenedor {
  width: 100%;
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}
.nav-imagen {
  height: 100%;
}
.nav-menu {
  align-self: flex-end;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-link {
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0 15px;
}
.btn-1 {
  background-color: #000;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
}
.btn-2 {
  border: 2px solid #000;
  color: #000;
  padding: 10px 30px;
  border-radius: 30px;
}
/* Hero */
.contenedor-hero {
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-flow: row wrap;
  margin-top: 20px;
}
/* Texto Del Hero */
.contenedor-texto {
  width: 450px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  font-size: 1.2rem;
}
.contenedor-texto h1,
p,
a {
  margin: 20px;
}
/* Imagen Del Hero */
.contenedor-imagen {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}
.contenedor-imagen img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* cards */
.section-cards{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
  background-color: aliceblue;
  text-align: center;
  margin-top: 50px;
}
.section-cards h2{
  padding: 20px 0px;
  font-size: 2.2rem;
}
.contenedor-cards{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.cards{
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.cards img{
  width: 40px;
}