@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.nav__container {
  width: 100%;
  margin: 0 auto;
  height: 80px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}
.nav__container__list {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}
.nav__container__list a {
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 20px;
  color: #191919;
}
.nav__container__logo {
  color: #ffff;
  background-color: #191919;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container {
    width: 1024px;
    height: 35vh;
    margin: 0 auto;;
    /* background-color: #f0f0f0; */
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.header__container__img{
    width: 450px;
    height: 100%;
}
.imagen{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.header__text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h1{
    font-size: 35px;
}
.botones{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.botonA {
    text-decoration: none;
    font-size: 20px;
    background-color: black;
    padding: 5px 35px;
    color: #FFF;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}
.botonB{
    text-decoration: none;
    font-size: 20px;
    padding: 2px 35px;
    color: black;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid black;
}
