@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body{
  max-width: 1024px;
  margin: 0 auto;
  background-color:#E0F2F1 
}
.header{
  height: 90%;
  margin: 20px auto;
  height: 80px;
}
/* Nav Bar */
.nav__contenedor{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

}
.nav__imagen{
  height: 80px;
}
.nav__menu{
  display: flex;
}
.nav__menu a{
  padding: 0 20px;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
main{
  width: 100%;
  margin: 20px auto;
}
/* Hero */
.hero__contenedor{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  text-transform: capitalize;
}

.hero__text h1, p, a{
  margin: 40px;
}
.hero__btn{
  background-color: black;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 500;
}
.--invertido{
  background-color: #FFF;
  color: #000;
}
.hero__img{
  height: 100%;
  margin: 20px auto;
}
.hero__img img{
  width: 100%;
  height: 100%;
}

/* Cards */
.section{
  margin: 20px auto;
  text-align: center;
}
.tarjetas__contenedor{
  width: 100%;
  height: auto;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}
.tarjeta{
  width: 350px;
  height: 350px;
  background-color: rgb(244, 244, 244);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.tarjeta img{
  width: 60px;
}

/* Footer */
.footer{
  width: 90%;
  height: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 50px;
  text-align: left;

}
.contacto__contenedor{
  width: 800px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: left;
}
.contacto__contenedor h2{
  width: 10px;
  height: 20px;
  margin: 40px 30px;
}
.contenido{
  max-width: 100%;
  margin: 0 auto;
}
.contacto__lista{
  align-self:center;
  order: 1;
  width: 400px;
  height: 200px; 
  display: flex;
}
.contacto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto li{
  padding: 10px;
}
 .contacto__img{
  order: 2;
  width: 400px;
  height: 200px;
}
.contacto__img img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.contacto__redes{
  order: 3;
  align-self: flex-start;

  width: 50px;
  display: flex;
} 
.contacto__redes i{
  font-size: 20px;
  margin-left: 20px;

}