@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    max-width: 1024px;
    margin: auto;
    background-color: #d3d3d363;
}
.contenedor{
    width: 100%;
    max-width: 1024px;
    height: 60px;
    margin: auto;
    background-color:#4EADFC ;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
#logo{
    width: 90px;
    padding-left: 20px;    
}
.icon-nav{
    color: #fff;
    font-size: 30px;
    padding-right: 20px;
}
.menu-check{
    display: none;
}
.nav__lista{
    position: absolute;
    top: 60px;
    width: 100%;
    max-width: 1024px;
    height: 305px;
    line-height: 100px;
    text-align: center;
    border-radius: 3px;
    background-color: #4eaefcbc;
    transition: all .4s ease-in;
    transform: translateY(-465px);
} 
.nav__lista a{
    display: block;
    width: 100%;
    max-width: 1024px;
    margin:0 auto;
    font-size: 1.3rem;
    color: #fff;
}
.nav__lista a:hover{
    border: 1px solid #FFF;
    background-color: #4eaefc86;
    transition: all .3s ease-in-out;
} 
.menu-check:checked ~ .nav__lista{
     transform: translateY(0); 

}
.icon-nav:active{
    transform: rotate(90deg);
    transition: all .4s ease;
}


main{
    width: 100%;
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
}

/* hero */
.contenedor-hero{
    width: 100%;
    margin-top: 50px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.hero{
    width: 400px;
    height: 300px;
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
}
.hero h1,h2,p,a{
    margin: 15px;
}
.hero a{
    display: inline-block;
    background-color: #000;      
    padding: 10px 25px;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
}
#btn{
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
}
.img-hero{
    width: 400px;
    height: 500px;
}
.img-hero img{
    width: 100%;
    height: 100%;
    border-radius: 10px
}

/* tarjetas */
.tarjetas-main{
    margin-top: 50px;
    width: 100%;
    max-width: 1024px;
    height: auto;
}


























