@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
body{
    max-width: 1024px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 50px;
    margin:auto;
    background-color: antiquewhite;
}
.nav__contenedor{
    width: 100%;
    height: 100%;
    text-align: center;
    
}
.nav__contenedor img{
    height: 100%;
    float: left;
}
.nav__contenedor label{
    display: block;
    float: right;
    margin: 10px;
    font-size: 1.5rem;
}
.nav__input{
    display: none
}
.nav__lista{
    position: absolute;
    top: -300px;
    width: 100%;
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
    background-color: rgba(47, 46, 46, 0.569);
    text-align: left;
    transition: all .5s ease-in-out;
    transform: translateY(350px);
    border-radius: 5px;
}
.nav__lista a{
    display: block;
    width: 100%;
    font-size: 1.2em;
    line-height: 60px;
    border-bottom: 1px solid #FFF;
    padding: 10px;
    
    color: #FFF;
    font-weight: 500;
    transition: .3s ease;
  
}
.nav__lista a:hover{
    background-color: rgba(47, 46, 46, 0.181);
    transform: scale(1.1);
    padding-left: 50px;
}
.nav__input:checked ~ .nav__lista{
    transform: translateY(0%);
   
}